<header>
  <div class="div-header">
    <a href="/"><img class="product-logo" src="/assets/images/site/product-logos/beacon-logo-ondark.png" alt="product logo"></a>
    <span class="secondary-nav"><a href="https://support.brightcove.com/contact-support">Contact Support</a> | <a href="https://status.brightcove.com/">System Status</a></span>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      {% if page.parent %}
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      {% endif %}
      {% if page.parent and page.parent != "Home" %}
      <li class="breadcrumb-item"><a href="/{{ page.dir }}">{{ page.parent }}</a></li>
      {% endif %}
      <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
    </ol>
  </nav>
</header>